body {
    /* background-image: url(/img/wp2951283-windows-xp-basic-wallpaper-hd.jpg); */
    /* background-size: 100%; */
    font-family: 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    text-align: center;


    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    align-items: center;
    flex-direction: column;


}

#container {
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
    border-radius: 5px;
    border: 2px;
    border-color: darkgrey;
}

.title {
    display: flex;
    justify-content: center;
    background-color: red;
    margin: 10px;
    font-size: 40px;
}

.flagPlaced {
    background-color: gray;
}

.topside {
    display: inline-flex;
    background-color: blue;
    align-items: center;
    justify-content: space-evenly;

    font-size: 24px;
}

.board {
    display: grid;
    padding: 10px;
    /* justify-content: space-evenly; */
    grid-template-columns: repeat(10, 50px);
    grid-template-rows: repeat(10, 50px);

}

.board>* {
    width: 99%;
    height: 99%;
    display: flex;
    border: 1px solid gray;


    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(183, 183, 232);
    user-select: none;

    font-size: 25px;
}
